@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*=================== Sidebar left and right ===================*/
.sidebar-left {
    height: 100vh;
    width: 600px;
    position: fixed;
    background-color: #ffd9a0;
}

.sidebar-right {
    margin-left: 700px;
    margin-right: 120px;
    padding-top: 180px;
}

/*=================== SideBar link ===================*/
.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 200px;
}
nav {
    padding: 160px 0 0 0px;
}

nav h3{
    text-align: center;
    padding-top: 10px;
}
nav p{
    text-align: center;
    padding: 0px 0 10px 0px;
    font-size: 14px;
}
nav ul{
    padding-left: 0px;
}
nav ul li {
    padding: 10px 0 10px 2px;
    list-style: none;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #282A3A;
}

nav ul li a:hover{
    color: #064663;
    transition: 1ms;
    text-decoration: underline;
}
.social {
    padding-top: 140px;
    text-align: center;
}
.social a {
    color: #064663;
    font-size: 30px;
    margin: 4px;
}
.social a:hover{
    color:antiquewhite;
}
.copyright {
    /* padding-top: 100px; */
    text-align: center;
    color: #a0a0a0;
    font-size: 11px;
}

/*=================== Home Text Content ===================*/
.home-text h2 {
    padding-bottom: 4px;
    font-weight: bold;
}

.home-text p{
    padding-bottom: 600px;
}

.btn-download{
    padding: 10px 20px;
    border-radius: 10%;
}
/*=================== About Me ===================*/
.about-me {
    padding-top: 140px;
    padding-bottom: 980px;
}


/*=================== Experience ===================*/
.my-experience {
    padding-bottom: 100px;
}

.card {
    /* background: #91d5f5; */
    --bs-card-border-width:0px;
} 

.card img {
    height: 240px;
} 

.font-size-title{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.card-title {
    font-weight: 400px;
}