@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*=================== Sidebar left and right ===================*/
.sidebar-left {
    height: 100vh;
    width: 600px;
    position: fixed;
    background-color: #8EC3B0;
}

.sidebar-right {
    margin-left: 700px;
    margin-right: 120px;
    padding-top: 180px;
}

/*=================== SideBar link ===================*/
.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 200px;
    box-shadow:
    0.4px 0.4px 0.3px rgba(0, 0, 0, 0.045),
    1.3px 1.3px 0.9px rgba(0, 0, 0, 0.055),
    6px 6px 4px rgba(0, 0, 0, 0.07);  

}
nav {
    padding: 160px 0 0 0px;
}

nav h3{
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    color: #393E46;
}
nav p{
    text-align: center;
    padding: 0px 0 10px 0px;
    font-size: 14px;
    color: #393E46;
}
nav ul{
    padding-left: 0px;
}
nav ul li {
    list-style: none;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

nav ul li a::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #064663;
    display: block;
    transition: .5s ease-in-out;
}

nav ul li a:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #064663;
    display: block;
}

.btn {
    --bs-btn-border-width:none;
    color: #393E46;
    font-size: 16px;
}
.btn:hover {
    font-size: 16.5px;
    color: #064663;
}
.social {
    padding-top: 140px;
    text-align: center;
}
.social a {
    color: #393E46;
    font-size: 30px;
    margin: 4px;
}
.social a:hover{
    color:#064663;
}
.copyright {
    /* padding-top: 100px; */
    text-align: center;
    color: #a0a0a0;
    font-size: 11px;
}

/*=================== Home Text Content ===================*/
.home-text h2 {
    font-size: 60px;
    font-weight: bold;
    color: #6eb99e;
}
.home-text h4 {
    font-size: 30px;
    color: #a0a0a0;
    padding-bottom: 4px;
}
.home-text p{
    font-size: 18px;
    padding-bottom: 400px;
}


.btn-download{
    padding: 20px 30px;
    border: 2px;
    border-radius: 15px;
    background-color: #064663;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.about-me a:hover {
    color: white;
}
/*=================== About Me ===================*/
.about-me {
    padding-top: 140px;
    padding-bottom: 600px;
}

.about-me p {
    padding-bottom: 10px;
}

.about-me h5 {
    color: #a0a0a0;
}
/*=================== Experience ===================*/
.my-experience {
    padding-bottom: 100px;
}

.card {
    /* background: #91d5f5; */
    --bs-card-border-width:0px;
} 

.card img {
    height: 240px;
} 

.font-size-title{
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #6eb99e;
}

.card-title {
    font-weight: 400px;
}

/* Skills */
.progress {
    margin: 5px 0 5px;
    --bs-progress-height: 10px;
    width: 500px;
}

.progress-bar{
    font-size: 10px;
    background-color:#8EC3B0;
}

.skills {
    padding-top: 140px;
    padding-bottom: 600px   ;
}

/* Social */
.btn {
    padding: 8px 30px;
    font-weight: bolder;
}
#contact {
    padding: 140px 0 340px;
}
