@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Sidebar left and right */
.sidebar-left {
    height: 100vh;
    width: 600px;
    position: fixed;
    background-color: #ffd9a0;
}

.sidebar-right {
    margin-left: 700px;
    margin-right: 120px;
    padding-top: 240px;
}

/* SideBar link */
.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 200px;
}
nav {
    padding: 160px 0 0 0px;
}

nav h3{
    text-align: center;
    padding-top: 10px;
}
nav p{
    text-align: center;
    padding: 0px 0 10px 0px;
    font-size: 14px;
}
nav ul{
    padding-left: 0px;
}
nav ul li {
    padding: 10px 0 10px 2px;
    list-style: none;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #282A3A;
}

nav ul li a:hover{
    color: #064663;
    transition: 1ms;
    text-decoration: underline;
}

.copyright {
    padding-top: 240px;
    color: #a0a0a0;
    font-size: 11px;
}

/* Home Text Content */
.home-text {
    padding-left: 30px;
}
.home-text h2 {
    padding-bottom: 4px;
}

.home-text p{
    padding-bottom: 600px;
}

/* Experience */
.my-experience {
    padding-left: 30px;
    padding-bottom: 100px;
}

.card {
    /* background: #91d5f5; */
    --bs-card-border-width:0px;
} 

.card img {
    height: 200px;
} 

.font-size-title{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
}